.page {
  width: 97vw;
  height: auto;
  display: flex;
}

.atama {
  height: 240px;
  width: 0 5%;
  background-color: rgb(247, 235, 215);
  background-image: url("./Group 10.png");
  background-repeat: no-repeat;
  background-position: 90% 48%;
}
.atama .leftblock {
  width: 240px;
  height: 240px;
}
.atama .leftblock .leftblock1 {
  width: 125px;
  height: 125px;
  background-color: pink;
  margin: 62.5px;
}

.header {
  height: 600px;
  background-color: rgb(247, 235, 215);
  background-repeat: no-repeat;
  background-image: url("./1.png");
  background-size: 500px;
  background-position: 80% 43%;
}
.header .leftheader {
  width: 30vw;
  margin-top: 100px;
  margin-left: 62.5px;
}
.header .leftheader .spand {
  font-size: 20px;
}

.headerTitle {
  height: 100px;
  background-color: rgb(247, 235, 215);
  justify-content: center;
  align-items: center;
}

.headerbody {
  height: 380px;
  background-color: rgb(247, 235, 215);
  justify-content: space-around;
  align-items: center;
}
.headerbody .headerbody1 {
  height: 300px;
  width: 25vw;
  background-image: url("./3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  justify-content: center;
  position: relative;
}
.headerbody .headerbody1:hover {
  background-image: url("./5.png");
}
.headerbody .headerbody1 .headertext1 {
  height: 50px;
  width: 12vw;
  background-color: pink;
  position: absolute;
  top: 80%;
  left: 25%;
  position: relative;
}
.headerbody .headerbody1 .headertext1 span {
  position: absolute;
  top: 10%;
  left: 35%;
  font-size: 30px;
}
.headerbody .headerbody2 {
  height: 300px;
  width: 25vw;
  background-image: url("./2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  position: relative;
}
.headerbody .headerbody2 .headertext2 {
  height: 50px;
  width: 12vw;
  background-color: pink;
  position: absolute;
  top: 80%;
  left: 25%;
  position: relative;
}
.headerbody .headerbody2 .headertext2 span {
  position: absolute;
  top: 10%;
  left: 35%;
  font-size: 30px;
}
.headerbody .headerbody3 {
  height: 300px;
  width: 25vw;
  background-image: url("./4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  position: relative;
}
.headerbody .headerbody3 .headertext3 {
  height: 50px;
  width: 12vw;
  background-color: pink;
  position: absolute;
  top: 80%;
  left: 25%;
  position: relative;
}
.headerbody .headerbody3 .headertext3 span {
  position: absolute;
  top: 10%;
  left: 35%;
  font-size: 30px;
}

.headercontent {
  height: 450px;
  background-color: rgb(247, 235, 215);
  justify-content: space-around;
  align-items: center;
}
.headercontent .headercontent1 {
  height: 400px;
  width: 25vw;
  background-color: white;
  background-image: url("./5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  justify-content: center;
  position: relative;
}
.headercontent .headercontent1:hover {
  background-image: url("./5.png");
}
.headercontent .headercontent1 .headerp {
  position: absolute;
  top: 65%;
  left: 5%;
}
.headercontent .headercontent1 .headertext1 {
  height: 50px;
  width: 12vw;
  background-color: pink;
  position: absolute;
  top: 85%;
  left: 5%;
  position: relative;
}
.headercontent .headercontent1 .headertext1 span {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 30px;
}
.headercontent .headercontent2 {
  height: 400px;
  width: 25vw;
  background-image: url("./6.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: relative;
}
.headercontent .headercontent2 .headerp {
  position: absolute;
  top: 65%;
  left: 5%;
}
.headercontent .headercontent2 .headertext2 {
  height: 50px;
  width: 12vw;
  background-color: pink;
  position: absolute;
  top: 85%;
  left: 5%;
  position: relative;
}
.headercontent .headercontent2 .headertext2 span {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 30px;
}
.headercontent .headercontent3 {
  height: 400px;
  width: 25vw;
  background-color: white;
  background-image: url("./7.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: relative;
}
.headercontent .headercontent3 .headerp {
  position: absolute;
  top: 65%;
  left: 5%;
}
.headercontent .headercontent3 .headertext3 {
  height: 50px;
  width: 12vw;
  background-color: pink;
  position: absolute;
  top: 85%;
  left: 5%;
  position: relative;
}
.headercontent .headercontent3 .headertext3 span {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 30px;
}

.footer {
  height: 600px;
  background-color: rgb(247, 235, 215);
  background-repeat: no-repeat;
  justify-content: left;
  align-items: center;
}
.footer .leftfooter {
  height: 550px;
  width: 60%;
  position: relative;
}
.footer .leftfooter .leftfooterblock {
  height: 550px;
  width: 80%;
  background-color: palevioletred;
  position: absolute;
}
.footer .leftfooter .leftimg {
  position: absolute;
  left: 12%;
  top: 15%;
  height: 400px;
  width: 80%;
  background-image: url("./8.png");
}
.footer .rightfooter {
  width: 40%;
  height: 550px;
  justify-content: center;
  position: relative;
  margin-right: 4%;
}
.footer .rightfooter .rightfooterblock {
  height: 400px;
  width: 80%;
  background-color: darksalmon;
  position: absolute;
  top: 15%;
  position: relative;
}
.footer .rightfooter .rightfooterblock h1 {
  position: absolute;
  width: 250px;
  top: 4%;
  left: 25%;
}
.footer .rightfooter .rightfooterblock span {
  position: absolute;
  top: 23%;
  left: 8%;
}

.bottom0 {
  height: 150px;
  background-color: rgb(247, 235, 215);
}

.bottom1 {
  height: 100px;
  background-color: palevioletred;
  justify-content: center;
  align-items: center;
}

span {
  word-wrap: break-word;
  color: rgb(255, 255, 255);
}

.line {
  height: 1px;
  width: 80%;
  border: 1px solid black;
  background-color: black;
}

h1 {
  color: brown;
}

.bottum {
  height: 50px;
  width: 180px;
  background-color: rgb(200, 89, 126);
  position: relative;
}
.bottum span {
  position: absolute;
  top: 14%;
  left: 33%;
  font-size: 30px;
}/*# sourceMappingURL=9_20.css.map */